header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: gray;
}
header li {
    float: left;
}
header li a {
    padding:14px;
    color: white;
    text-decoration: none;
}
header li a:hover{
    background-color: green;
}
footer{
    background-color: gray;
    color: white;
}
body{
    margin:0;
}
#body{
    margin: 10px;
}